gb-green = #18b645

main
   min-height:95vh;
   padding:20px;

fieldset
  border:0px;

.newGBButton
  height: 40px;
  padding:20px;

.Interest
  color: gb-green;
  font-size: 0.85714286em;
  text-transform: uppercase;

.ui.message
  background-color: #fff;
  border-radius:0px;
  border: 0px;

.ui.bottom.attached.button:hover
  background-color:gb-green;
  color:#fff;

.ui.card:hover
  box-shadow: 0px 1px 3px 0px gb-green, 0px 0px 0px 1px gb-green;
