gb-green = #18b645
gb-yellow = #e3e716
gb-red = #e63030
gb-blue = #1890f2
gb-purple = #9e00de
gb-orange = #f7760c
gb-black = #000000

main
   min-height:95vh;
   padding:20px;

fieldset
  border:0px;

.newGBButton
  height: 40px;
  padding:20px;

.Interest.Check
  color: gb-green;
  font-size: 0.85714286em;
  text-transform: uppercase;

.In.Progress
  color: gb-blue;
  font-size: 0.85714286em;
  text-transform: uppercase;

.Deadline.Passed
  color: gb-red;
  font-size: 0.85714286em;
  text-transform: uppercase;

.In.Production
  color: gb-purple;
  font-size: 0.85714286em;
  text-transform: uppercase;

.Shipping
  color: gb-orange;
  font-size: 0.85714286em;
  text-transform: uppercase;

.Completed
  color: gb-black;
  font-size: 0.85714286em;
  text-transform: uppercase;

.ui.message
  background-color: #fff;
  border-radius:0px;
  border: 0px;

.ui.bottom.attached.button
  a
    color:#5b5b5b;

.ui.bottom.attached.button:hover
  background-color:gb-green;
  color:#fff;
  a
    color:#fff;

.description
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100%;

.ui.cards.link
  padding:30px;

@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1400px;
  }
}

@media (min-width: 2560px) {
  .container {
    width: 2000px;
  }
}

#__blaze-root
  background-color: #F7F7F7
