<template name="Footer">
  <div class="ui inverted vertical footer segment form-page">
    <div class="ui container">
      <div class="ui three column grid">
        <div class="column">
          <h4 class="ui inverted header">groupbuy.io</h4>
          <div class="ui inverted link list">
            <a class="item" href="/about">About</a>
            <a class="item" href="http://www.sonnyshi.com">Made with Love by Sonny Shi </a>
            <div class="item">groupbuy.io: Free and Open Source</div>
          </div>
        </div>
        <div class="column">
          <h4 class="ui inverted header">Developers</h4>
          <div class="ui inverted link list">
            <a class="item" href="http://www.github.com/thisisshi/groupbuy.io">Github</a>
          </div>
        </div>
        <div class="column">
          <h4 class="ui inverted header">Our Friends</h4>
          <div class="ui inverted link list">
            <a class="item" href="http://www.geekhack.com">geekhack</a>
            <a class="item" href="http://www.reddit.com/r/mechanicalkeyboards">r/mechanicalkeyboards</a>
            <a class="item" href="http://www.deskthority.com">Deskthority</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
